@import play.i18n.Messages

@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
  </head>
  <body>

    @common.menu(title)

    <div class="container">
      @content
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/script.js")"></script>
  </body>
</html>